version: '3.9'

services:
  bot:
    build: .                        # Dockerfile shu papkada joylashgan
    container_name: aiogram_bot
    restart: always
    volumes:
      - ./:/var/www/html            # Loyihani konteyner ichiga ulaydi
    working_dir: /var/www/html
    ports:
      - "8443:8443"                # Expose port 8443 for webhook
    command: python bot.py        # Botni ishga tushiradi