version: '3.9'

services:
  bot:
    build:
      context: ./bot        # Bot uchun alohida papka
      dockerfile: Dockerfile
    container_name: aiogram_bot
    restart: always
    volumes:
      - ./bot:/var/www/html
      - ./web:/var/www/html/web
    working_dir: /var/www/html
    ports:
      - "8443:8443"         # Bot webhook porti
    command: python main.py

  web:
    build:
      context: ./web        # Flask uchun alohida papka
      dockerfile: Dockerfile
    container_name: flask_web
    restart: always
    volumes:
      - ./web:/var/www/html
    working_dir: /var/www/html
    ports:
      - "5000:5000"         # Flask porti
    command: python app.py
